.container-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 15px;
  margin-top: 20px;

}

table {
  td {
    vertical-align: middle !important;
  }
}

.modal-open-wc {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  background-color: rgba(0,0,0,0.7);
}


.saldos {
  display: flex;
  justify-items: flex-start;
  align-items: center;
  flex-direction: column;
  .other {
    margin: 0;
    padding: 6px 0px 3px 0px;
    border: none;
  }
  div {
    padding: 3px 3px 5px 3px;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
    .circle {
      border-radius: 50%;
      font-size: 0.9em;
      margin-right: 7px;
      width: 26px;
      height: 26px;
      text-align: center;
    }
    .soles {
      background-color: #ddd7f7;
      color: #121212;
      padding: 4px 0px 3px 7px;
      font-weight: bold;
    }
    .dolares {
      background-color: #88ca9a;
      color: #fff;
      padding: 4px 0px 3px 9px;
      font-weight: bold;
      font-size: 0.9em;
    }
    .euros {
      background-color: #b79e5e;
      color: #fff;
      padding: 4px 0px 4px 8px;
      font-weight: bold;
      font-size: 0.9em;
    }
    .none {
      background: transparent;
      padding: 10px 0px 3px 0px;
      font-weight: bold;
      font-size: 0.9em;
      border-radius: 0;
      width: 0px;
    }
    .other {
      padding: 4px 0px 3px 8px;
    }
  }
  div:last-child {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 576px) {
  .container-button {
    display: block;
    button {
      width: 100%
    }
  }
}