.content-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .form {
    min-width: 350px;
    padding: 10px;

    h3 {
      margin-top: 10px;
      margin-bottom: 5px;
      text-align: center;
      font-weight: normal;
      font-size: 1.3em;
    }

    input {
      outline: none;
    }

    label {
      font-size: 0.8em;
    }

    textarea {
      resize: none;
    }

    .actions-buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;
    }

  }
}

.invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + .75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(.375em + .1875rem) center;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

@media only screen and (max-width: 480px) {
  .content-form {


    .form {
      min-width: 100%;
      padding: 10px;
      input, textarea {
        width: 100%;
      }
    }
  }
}