$color_invalid: #F35E61;

:host([hidden]), [hidden] {
  display: none !important;
}

@mixin inputs {
  font-family: "Montserrat", sans-serif;
  width: calc(100% - 38px);
  padding: 10px 33px 10px 5px;
  outline: none;
  background: transparent;
  border: none;
  border-bottom: 1px solid #e1e1e1;
  color: #fff;
  font-size: 1.2em;
  font-weight: lighter;
  margin-bottom: 30px;
}

.wrapper-login {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: url("../../../assets/images/blue-background.svg");
  z-index: 1500;
  background-size: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;

  .login-form-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
      text-align: center;
      font-weight: lighter;
      color: #fff;
      font-size: 2.7em;
      margin-bottom: 30px;
      transition: all 0.38s linear;
      margin-top: -120px;
    }

    .success-form {
      margin-top: 0px;
    }

    .container-login {
      display: flex;
      justify-content: center;
      min-width: 320px;
      flex-direction: column;
      transition: all 0.2s ease-in-out;
      input {
        @include inputs;
      }

      input::placeholder {
        color: #fff;
      }

      button {
        background: transparent;
        border: none;
        outline: none;
        padding: 10px 2px;
        font-size: 1.2em;
        font-family: "Montserrat", sans-serif;
        font-weight: lighter;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 2px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
      }

      button:hover {
        color: #d4edfc;
      }

      .container-msg-error {
        margin-top: 25px;
        text-align: center;
        color: $color_invalid;
        font-weight: normal;
        font-size: 1.2em;
      }
    }
  }
}

.container-input {
  position: relative;
  iron-icon {
    position: absolute;
    right: 3px;
    top: 11px;
    color: #fff;
    height: 25px;
    width: 25px;
  }
  button {
    width: 100%;
  }

  .loadin-send {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 30px;
  }
}

@media only screen and (max-height: 375px) {
  .wrapper-login {
    .login-form-content {
      h2 {
        margin-top: -80px;
      }
    }
  }
}

.hide {
  display: none;
}

.invalid {
  input {
    border-bottom: 1px solid $color_invalid !important;
  }
  input::placeholder {
    color:$color_invalid !important;
    font-weight: normal;
  }
  iron-icon {
    color:$color_invalid !important;
  }
}
