:host([hidden]),
[hidden] {
  display: none !important;
}

.main-page {
  margin: 0;
  margin-left: 90px;
  margin-top: 90px;
  background-color: white;
  width: calc(100vw - 120px);
  padding: 20px 25px;
  min-height: calc(100vh - 115px);
}

.card {
  border-radius: 0;
}

.bg-default-head {
  background-color: rgb(236, 240, 241);
}

.breadcrumb {
  padding-left: 0;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

.breadcrumb-item {
  iron-icon {
    width: 19px;
    height: 19px;
    margin-right: 5px;
  }
}

.toolbar-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .actions-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.content-breadcrumb {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .content-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .btn-arqueo {
      margin: 0 0 0 5px;
    }
  }
}



.hide {
  display: none;
}

.toolbar-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  .inputs {
    display: flex;
    input {
      margin-right: 5px;
    }
    .btn-search {
      padding: 0 10px;
    }
    .btn-search-large {
      display: none;
    }
  }
  .buttons {
    display: flex;
    button {
      margin-left: 5px;
      outline: none;
    }
  }
}

@media only screen and (max-width: 768px) {
  .main-page {
    margin-left: 3%;
    width: calc(97% - 12px);
  }

  .card {
    margin-bottom: 1em;
  }

  .toolbar-panel {
    display: block;

    .title-panel {
      text-align: center;
      margin-bottom: 10px;
    }

    .actions-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .content-breadcrumb {
    display: block;
    width: 100%;
    .content-buttons {
      margin-bottom: 15px;
    }
  }

  .toolbar-page {
    display: block;
    .inputs {
      display: flex;
      input {
        margin-right: 5px;
      }
      .btn-search {
        padding: 0 10px;
      }
    }
    .buttons {
      display: flex;
      margin-top: 10px;
      justify-content: flex-end;
      button {
        margin-left: 5px;
        outline: none;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .toolbar-page {
    display: block;
    .inputs {
      display: block;
      input {
        margin-right: 5px;
      }
      .btn-search {
        padding: 0 10px;
        display: none;
      }
      .btn-search-large {
        margin-top: 15px;
        display: block;
      }
    }
    .buttons {
      display: flex;
      margin-top: 10px;
      justify-content: space-between;
      button {
        margin-left: 0px;
        outline: none;
      }
    }
  }
}

.modal-open-wc {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  background-color: rgba(0,0,0,0.7);
}

.btn-up {
  position: fixed;
  bottom:10px;
  right: 25px;
  z-index: 200;
}



