:host([hidden]),
[hidden] {
  display: none !important;
}

.hide {
  display: none !important;
}

.table {
  margin-bottom: 0;
  padding-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid #e1e1e1;
  tr {
    cursor: pointer;
  }
}

bx-pagination:host {
  .bx--pagination__left {
    padding: 0 !important;
  }
}

.content-loading {
  height: 100%;
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  width: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  svg {
    width: 120px;
  }
}

.content-loading-show {
  width: 100%;
}
.test {
  color: red !important;
}

td {
  vertical-align: middle !important;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1.2fr 0.9fr 0.9fr;
  grid-column-gap: 0px;
  .revisado {
    background-color: #e9e9e9;
    padding: 3px;
  }
  .sobrante {
    background-color: #e9e9e9;
    padding: 3px;
  }
  .faltante {
    background-color: #e9e9e9;
    padding: 3px;
  }
}

.saldos {
  display: flex;
  justify-items: flex-start;
  align-items: center;
  flex-direction: column;
  .other {
    margin: 0;
    padding: 6px 0px 3px 0px;
    border: none;
  }
  div {
    padding: 3px 3px 5px 3px;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
    .circle {
      border-radius: 50%;
      font-size: 0.9em;
      margin-right: 7px;
      width: 26px;
      height: 26px;
      text-align: center;
    }
    .soles {
      background-color: #ddd7f7;
      color: #121212;
      padding: 4px 0px 3px 7px;
      font-weight: bold;
    }
    .dolares {
      background-color: #88ca9a;
      color: #fff;
      padding: 4px 0px 3px 9px;
      font-weight: bold;
      font-size: 0.9em;
    }
    .euros {
      background-color: #b79e5e;
      color: #fff;
      padding: 4px 0px 4px 8px;
      font-weight: bold;
      font-size: 0.9em;
    }
    .none {
      background: transparent;
      padding: 10px 0px 3px 0px;
      font-weight: bold;
      font-size: 0.9em;
      border-radius: 0;
      width: 0px;
    }
  }
  div:last-child {
    margin-bottom: 0px;
  }
}

.bg-pagination {
  background-color: #f4f4f4;
}

.data-empty {
  width: 100%;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e1e1e1;
  font-size: 0.95em;
}
