:root {
  margin: 0;
  padding: 0;
}

$bg_blue: #004481;
$bg_navy: #072146;
$bg_blue_light: #1464A5;
$bg_green: #006c6c;
$bg_light: #fff;
$h_items: 65px;
$w_content: 300px;
$w_log: 80px;
$w_logos: 240px;

@mixin logos {
  width: $w_logos;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  img {
    width: $w_log;
    cursor: pointer;
  }

  h2 {
    margin: 0;
    margin-left: 10px;
    padding: 0;
    width: calc(100% - $w_log);
    font-size: 1em;
    font-weight: normal;
  }
}

@mixin menu_icon {
  height: 29px;
  width: 29px;
  margin-left: 15px;
  margin-right: 15px;
  color: white;
  cursor: pointer;
}

header {
  width: 100%;
  height: $h_items;
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.25s ease-in-out;
}

.section-top-right {
  margin-right: 15px;
  display: flex;
  align-items: center;
  img {
    width: 38px;
    height: 37px;
    border-radius: 50%;
    cursor: pointer;
    background-color:  rgba(228, 228, 228, 0.7);
    box-shadow: 0px 1px 1px 1px rgba(117, 117, 117, 0.8);
  }

  .text-info-user {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    font-size: 0.82em;
    margin-right: 15px;
    text-transform: uppercase;
    line-height: 1.3em;
    .rol {
      font-size: 0.8em;
      font-weight: bold;
    }
  }
}

.blue {
  background-color: $bg_blue;
  color: #fff;
}

.blue-light {
  background-color: $bg_blue_light;
  color: #fff;
}

.navy {
  background-color: $bg_navy;
  color: #fff;
}

.green {
  background-color: $bg_green;
  color: $bg_light;
  color: #fff;
}

.light {
  background-color: #fff;
  color: #666;
}

.pink {
  background-color: #ad53a1;
  color: #fff;
}

.section-top-left {
  margin-left: 75px;
  .btn-menu-responsive {
    display: none;
    width: 75px;
    height: $h_items;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    iron-icon {
      @include menu_icon;
      margin-top: 19px;
      height: 27px;
      width: 27px;
    }
  }

  .logo {
    @include logos;
  }
}

.wrapper-aside {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  background-color: #2b2f3a;
  height: 100vh;
  width: 60px;
  overflow: hidden;
  transition: width 0.15s linear;
  border-right: 1px solid rgba(69, 65, 78, 0.95);
}

.collapsible {
  width: $w_content;
}

aside {
  .header-logo-sidebar {
    margin: 0;
    background-color: #0f1011;
    height: $h_items;
    width: $w_content;
    display: flex;
    align-items: center;

    iron-icon {
      @include menu_icon;
    }

    .logo-menu {
      @include logos;
      margin-left: 18px;
    }
  }

  nav {
    color: white;
    padding: 0;
    margin: 0;
  }

  nav ul {
    padding: 0;
    margin: 0;
    width: $w_content;
    overflow: hidden;
  }

  .active {
    color: white !important;
  }

  nav ul > li {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid rgba(12, 12, 12, 0.35);
    font-size: 0.9em;
    color: #8991a9;
    transition: all 0.25s ease-in-out;
    cursor: pointer;

    .icon-content {
      width: $h_items;
      iron-icon {
        margin-left: 17px;
        height: 20px;
        width: 20px;
      }
    }

    .link-text-content {
      padding-left: 10px;
      width: calc(100% - $h_items);
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  nav ul > li:hover {
    color: #fff;
  }
}

.tooltipMenu {
  position: fixed;
  padding: 12px 15px;
  left: $h_items;
  top: 0;
  background-color: #2b2f3a;
  color: white;
  z-index: 15;
  display: none;
  font-size: 0.9em;
}

.tooltipMenu::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #2b2f3a transparent transparent;
}

@media only screen and (max-width: 768px) {
  .wrapper-aside {
    width: 0;
    border-right: none;
  }
  .collapsible {
    width: $w_content;
  }
  .section-top-left {
    .btn-menu-responsive {
      display: block;
    }
  }
}

.text-dark {
  color: #000;
}

.text-white {
  color: #fff;
}

.box-info-user-profile {
  background-color: rgb(77, 77, 77);
  box-shadow: 0 0 5px rgb(77, 77, 77);
  width: 280px;
  position: fixed;
  top: 70px;
  right: -300px;
  transition: all 0.25s ease-in-out;
  color: #fff;
  padding: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 0.9em;
  z-index: 20;
  text-transform: uppercase;
  padding-bottom: 20px;

  img {
    margin-top: 10px;
    width: 55%;
    border-radius: 50%;
    background-color:  rgba(117, 117, 117, 0.8);
    box-shadow: 0px 1px 1px 1px rgba(117, 117, 117, 0.8);
  }

  .name {
    margin-top: 25px;
    text-align: center;
  }

  .registro {
    font-size: 0.9em;
    font-weight: bold;
    color: #5bbeff;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
  }

  .registro:hover {
    text-decoration: underline;
  }

  .other-text {
    margin: 0px 0 0px 0;
    font-size: 0.85em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    text-align: center;
    iron-icon {
      width: 16px;
      margin-right: 5px;
    }
  }

  .btnLogOut {
    margin-top: 10px;
  }
}

.show-box-info-user {
  right: 10px;
}

@media only screen and (max-width: 768px) {
  .section-top-right {
    .text-info-user {
      display: none;
    }
  }
}
