
.icon-search {
  position: absolute;
  top: 6px;
  left: 10px;
  width: 20px;
}

.constent-icon-search {
  position: relative;
  width: 40px;
}

.content-card-body {
  position: relative;
  padding: 0;
}

.layout-form {
  position: absolute;
  height: 100%;
  background-color: rgb(255, 255, 255);
  top: 0;
  left: 0;
  width: 0;
  z-index: 100;
  overflow-x: hidden;
  overflow-y: auto;
  border: none;
  transition: all 0.15s linear;
}

.layout-form-show {
  width: 100%;
}

.toolbar-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .actions-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.card {
  border-radius: 0;
}

.bg-default-head {
  background-color: rgb(236, 240, 241);
}

@media only screen and (max-width: 768px) {
  .card {
    margin-bottom: 1em;
  }

  .toolbar-panel {
    display: block;

    .title-panel {
      text-align: center;
      margin-bottom: 10px;
    }

    .actions-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
